.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color:gray;
    cursor: pointer;
}
.headerOption:hover {
    color:black;   
}
/*harsh*/
.headerOption_title {
    font-size: 12px;
}
.headerOption_icons {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}
.AvtarMainDiv {
    position: relative;
}
.avtar {
    position: absolute;
    top:37px;
    width: auto;
    height: auto;
    background-color: white;
    padding:10px;
    opacity: 0;
    border-radius: 5px;
}
.avtar:hover {
    opacity: 1;
    /* background-color: whitesmoke; */
}
.spanTag {
    color:gray;
}
.spanTag:hover {
    color:black;
}