.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color:gray;
    cursor: pointer;
}
.headerOption:hover {
    color:black;   
}

.headerOption_title {
    font-size: 12px;
}
.headerOption_icons {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}
.AvtarMainDiv {
    position: relative;
}
.avtar {
    position: absolute;
    top: 100%;
    left: 100%;
    background-color:#fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.spanTag {
    font-weight: 600;
}
.spanTag:hover {
    color:black;
}